La idea es: 
- Convertir las fechas a un formato de mes (están en MM/DD/YYYY)
- Extraer el mes a una nueva columna

In [3]:
import pandas as pd
pumpkins = pd.read_csv('US-pumpkins.csv')
pumpkins.head() # ya a simple vista se ven los NaN

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
0,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,4/29/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
1,BALTIMORE,NaN,24 inch bins,NaN,NaN,NaN,5/6/17,270.0,280.0,270.0,...,NaN,NaN,NaN,NaN,NaN,NaN,E,NaN,NaN,NaN
2,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
3,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,9/24/16,160.0,160.0,160.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN
4,BALTIMORE,NaN,24 inch bins,HOWDEN TYPE,NaN,NaN,11/5/16,90.0,100.0,90.0,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,NaN

In [7]:
pumpkins.tail(5) # últimas 5 lineas

,City Name,Type,Package,Variety,Sub Variety,Grade,Date,Low Price,High Price,Mostly Low,...,Unit of Sale,Quality,Condition,Appearance,Storage,Crop,Repack,Trans Mode,Unnamed: 24,Unnamed: 25
1752,ST. LOUIS,NaN,22 lb cartons,MINIATURE,FLAT TYPE,NaN,9/30/16,14.75,14.75,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.
1753,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/26/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,LOWER.
1754,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/27/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,STEADY.
1755,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/28/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,ABOUT STEADY.
1756,ST. LOUIS,NaN,36 inch bins,MINIATURE,ROUND TYPE,NaN,9/29/16,275.00,275.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,N,NaN,NaN,"MINIATURE LOWER, OTHERS STEADY."

In [8]:
pumpkins.isnull().sum() #cuenta los NaN en cada columna b

City Name             0
Type               1712
Package               0
Variety               5
Sub Variety        1461
Grade              1757
Date                  0
Low Price             0
High Price            0
Mostly Low          103
Mostly High         103
Origin                3
Origin District    1626
Item Size           279
Color               616
Environment        1757
Unit of Sale       1595
Quality            1757
Condition          1757
Appearance         1757
Storage            1757
Crop               1757
Repack                0
Trans Mode         1757
Unnamed: 24        1757
Unnamed: 25        1654
dtype: int64

In [11]:
new_columns = ['Package', 'Month', 'Low Price', 'High Price', 'Date'] # son las unicas columnas que me interesan
pumpkins = pumpkins.drop([c for c in pumpkins.columns if c not in new_columns], axis=1) 
# bajo las columnas que no me interesan

In [10]:
pumpkins

            Package     Date  Low Price  High Price
0      24 inch bins  4/29/17     270.00      280.00
1      24 inch bins   5/6/17     270.00      280.00
2      24 inch bins  9/24/16     160.00      160.00
3      24 inch bins  9/24/16     160.00      160.00
4      24 inch bins  11/5/16      90.00      100.00
...             ...      ...        ...         ...
1752  22 lb cartons  9/30/16      14.75       14.75
1753   36 inch bins  9/26/16     275.00      275.00
1754   36 inch bins  9/27/16     275.00      275.00
1755   36 inch bins  9/28/16     275.00      275.00
1756   36 inch bins  9/29/16     275.00      275.00

[1757 rows x 4 columns]

Quiero un promedio del precio en cada mes: uso un promedio entre el precio más alto y el más bajo

In [12]:
price = (pumpkins['Low Price'] + pumpkins['High Price']) / 2 # creo una nueva columna

In [13]:
price

0       275.00
1       275.00
2       160.00
3       160.00
4        95.00
         ...
1752     14.75
1753    275.00
1754    275.00
1755    275.00
1756    275.00
Length: 1757, dtype: float64

In [15]:
month = pd.DatetimeIndex(pumpkins['Date']).month # separo el mes de la fecha

In [18]:
month

Int64Index([ 4,  5,  9,  9, 11, 11,  9,  9, 10, 10,
            ...
             9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
           dtype='int64', name='Date', length=1757)

In [19]:
print(month)

Int64Index([ 4,  5,  9,  9, 11, 11,  9,  9, 10, 10,
            ...
             9,  9,  9,  9,  9,  9,  9,  9,  9,  9],
           dtype='int64', name='Date', length=1757)

In [16]:
year = pd.DatetimeIndex(pumpkins['Date']).year # separo el año de la fecha

In [17]:
year

Int64Index([2017, 2017, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016,
            ...
            2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016, 2016],
           dtype='int64', name='Date', length=1757)